@import "./_mixins.scss";

body {
  min-height: 100vh;
  font-family: Marvin;
  color: #fff;
  overflow: hidden;

  
  &:before,
  &:after {
    content: "";
    position: absolute;
    top: -50px;
    left: -50px;
    right: -50px;
    bottom: -50px;
    z-index: -1;
    opacity: .5;
    
    background: url("../img/bg.jpg") center center;
    background-size: cover;
    filter: blur(10px);
  }
  &:after {
    opacity: .8;
    background: #000;
  }
}

.btn,
.text-box {
  @include flare-dots;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  
  padding: 0 30px;
  text-align: center;
  font-size: 24px;
  
  min-width: 104px;
  min-height: 42px;

  border-radius: 21px;
  box-shadow: 0 3px 4px rgba(0,0,0,.5);
  background: #333;


  &--pink {
    background: linear-gradient( to top, #850DEE, #AA07B7, #FF97FF);
  }

  &--red {
    background: linear-gradient( to top, #E3025F, #AE014C, #FF91DE);
  }
}

.text-box {
  @media screen and (max-width: 500px){
    min-width: 60px;
    font-size: 18px;
    padding: 5px 10px;
    min-height: 0;
  }
}

.btn {
  cursor: pointer;
  transition: .2s;
  
  &:hover {
    filter: brightness(.9);
  }

  &:active {
    box-shadow: none;
    filter: brightness(.8);
  }
}


.circle-number {
  @include flare-dots;

  width: 140px;
  height: 140px;
  border-radius: 50%;
  box-shadow: 0 0 15px 5px rgba(255,255,255,.2), inset 0 0 20px #FF74C8, inset 20px 30px 0 rgba(255,255,255,.2);
  background: linear-gradient(to top, #FF74C8, #B10253 22%,#B10253 42%, #FF74C8 87%);

  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 62px;
  line-height: 1;

  &:before {
    top: 9px;
    right: 38px;
    width: 10px;
    height: 14px;
    transform: rotate(-50deg);
  }
  &:after {
    top: 24px;
    right: 29px;
    width: 4px;
    height: 4px;
  }
}

.info-box {
  padding: 10px 15px;
  box-shadow: 0 0 2px 3px rgba(255,255,255,.1), inset 0 0 2px 4px #00326E;
  background: linear-gradient(to bottom, #001737, #00326E);
  border-radius: 14px;
}

.coins {
  margin-top: 16px;
  font-size: 22px;
  &--bigger {
    font-size: 40px;
  }
}

.menu-buttons {
  margin-top: 15px;
  &__item {
    width: 100%;
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}